body{
    background: white;
    color: #006EB6;
    margin: 0;
    font-family: sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;
    min-height: 100vh;
}
@media (min-width:1000px) {
    .nav__logo{
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%,-50%,0);
        z-index: 5;
    }
    .nav__logo>a{
        display: block;
        font-size: 0;
        text-decoration: none;
    }      
}
.navbar{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 10px;
    z-index: 9999;
    background-color: #fff;
}

.nav__container{
    display: flex;
    padding: 0 30px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 60px;
}

.nav__menu--left{
    margin-right: auto;
}


.nav__menu{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: stretch;
}

.nav__menu>li{
    margin: 0;
    font-size: 1.6rem;
    line-height: 1.6rem;
    display: flex;
    align-items: center;
}

.nav__menu>li>label, .nav__menu>li>a{
    color: #006EB6;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    user-select: none;
    padding: 0 10px;
    margin: 0 3px;
    position: relative;
    line-height: 16px;
    font-family: "Untitled" sans-serif;
}


.nav__menu>li>a{
    padding: 5px;
    padding-bottom: 5px;
    display: block;
}

.nav__menu>li>a::after{
    content: " ";
    position: absolute;
    height: 1px;
    background:#006EB6;
    bottom: 2px;
    left: 10px;
    transform: translateY(5px);
    opacity: 0;
    transition: all .3s ease;
}

.nav__menu--right{
    margin-left: auto;
}

.nav-search__wrapper{
    position: relative;
}

.nav__line{
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #006EB6;
    z-index: 11;
}

.nav__line--bottom{
    top: auto;
    bottom: 0;
}
.navbar .cart-item-container{
    display: grid !important;
    grid-template-columns: auto auto !important;
    gap: 9px;
}

.nav-cart__icon{
    position: relative;
    display: inline-block;
}

.navbar .cart-item-container svg{
    margin-top: 3px;
}

.navbar .nav-cart__count{
    position: relative;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: #006EB6;
    color: #fff;
    line-height: 24px;
    text-align: center;
    margin-left: 3px;
    display: block;
    font-size: 14px;
}

.toggle{
    position: relative;
    display: flex;
    align-items: center;
}

.toggle>input{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
}

input{
    border: none;
    border-bottom: solid 1px #006EB6;
    height: 65px;
    width: 100%;
    color: #006EB6;
    background: transparent;
    font-size: 1.5rem;
    line-height: 1.8rem;
}

.toggle__indicator{
    position: relative;
    width: 22px;
    height: 14px;
    border: solid 1px #006EB6;
    border-top-left-radius: 50px; ;
    border-top-right-radius: 50px ;
    border-bottom-right-radius:50px ;
    border-bottom-left-radius: 50px;
    transition-duration:0.3s;
    transition-timing-function:ease ;
    transition-delay:0s ;
}

.two-side{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.home-page .side--100vh{
    height: calc(100vh - 49px);
}

.side, .side-left, .side-right{
    position: relative;
    width: 100%;
}

.home-page__img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.home-page__img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.flex-cc{
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-page__content{
    padding: 0 70px;
    width: 100%;
}

.home-page__content h1{
    font-style: normal;
    font-weight: 600;
    font-size: 53px;
    line-height: 62px;
}

.home-page__buttons{
    margin-top: 40px;
    font-size: 0;
}

.home-page__buttons>.button:first-of-type{
    margin-right: -1px;
}

.home-page__buttons.button{
    margin: 0 0 20px;
    width: 230px;
    text-align: center;
    background: #fff;
    border-radius:0 ;
    height: 63px;
    border: solid 1px #006EB6;
}

.button{
    position: relative;
    display: inline-block;
    padding: 18px - 23px;
    font-size: 16px;
    line-height: 24px;
    border: solid 1px #006EB6;
    color: #006EB6 !important;
}

.button--header{
    font-size: 18px;
    line-height: 23px;
    padding: 19px 34px;
}

a.button{
    text-decoration: none;
    -webkit-appearance: none;
}


.button-slide-bg::before, .button-slide-bg::before{
    content: " ";
    position: absolute;
    top: 0;
    z-index: -1;
    height: 100%;
    background: #006EB6;
    width: 100%;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    left: 0;
}

.feature-bar.no-border{
    border-top: none;
}

.feature-bar{
    position: relative;
    width: 100%;
    border-top: solid 1px #006EB6;
    border-bottom: solid 1px #006EB6;
    padding: 12px;
    min-height: 20px;
}

.feature-bar__line{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #006EB6;
}

.feature-bar>ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.feature-bar>ul>li, .feature-bar>ul>li>a{
    font-size: 16px;
    line-height: 22px;
    color: #006EB6;
    text-decoration: none;
    user-select: none;
}

.feature-bar>ul>li{
    padding: 0 14px;
    margin: 0;
    position: relative;
}

.feature-bar>ul>li::after{
    content: "  ";
    position: absolute;
    top: 50%;
    z-index: -1px;
    margin-top: -1px;
    height: 2px;
    width: 2px;
    background-color: #1C6EA5;
    border-radius: 10px;
}

.home-intro{
    padding-top: 10px;
    padding-bottom: 120px;
    padding-bottom: solid 1px #006eb6;
    position: relative;
}


.container{
    position: relative;
    max-width: 1200px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
    height: 100%;
}

.home-intro .container .content{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #006EB6;
}

.content{
    position: relative;
}

.home-intro .container .content .intro-bird{
    width: auto;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -40px;
}

.space-20{
    display: block;
    height: 20px;
}

.space-60{
    display: block;
    height: 60px;
}

.large{
    font-size: 20px;
    line-height: 30px;
    color: #006EB6;
    margin-bottom: 20px;
}

.home-intro .coaster-button{
    position: absolute;
    bottom: -40px;
    right: 190px;
}

.coaster-button{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 220px;
    height: 220px;
    z-index: 5;
    color: #006EB6;
    text-decoration: none;
    transform: rotate(10deg);
}

.coaster-button__bg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: none;  
    width: 100%;
    height: 100%; 
}

.coaster-button__bg path{
    transition: all .3 ease;
}

.coaster-button__label{
    font-size: 24px;
    line-height: 32px;
    display: block;
    text-align: center;
    margin-bottom: 6px;
}

.coaster-button__arrow{
    transition: all .3 ease;
}


section{
    pointer-events: auto;
    padding: 0;
}

.title-bar{
    padding-top: 40px;
    padding-bottom: 40px;
    color: #006EB6;
    text-align: center;
    display: flex;
    justify-content: center;
    border-top: solid 1px #006EB6;
    border-bottom: solid 1px #006EB6;
    font-size: 2rem;
    line-height: 3.8rem;
    width: 100%;    
}

.home-certifications{
    display: grid;
    grid-template-columns: 3fr 4fr 3fr;
    gap: 1px;
    background: #006EB6;
}

.home-certifications .col--left {
    background: #ffffff;
}

.home-certifications .col--right {
    background: #ffffff;
}

.title, .col-left, .col-right{
    position: relative;
    height: 100%;
    width: 100%;
}

.value-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    border-bottom: solid 1px #006EB6;
    text-align: center;
    padding: 40px;
}

.value-item .value-icon{
    height: 80px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.value-item p{
    margin-bottom:  0;
}


.home-certifications .title--middle{
    background: #006EB6;
    max-height: 890px;
    overflow: hidden;
    border-bottom: solid 1px #006EB6;
}



.home-certifications .col--middle{
    background: #006EB6;
    max-height: 700px;
    overflow: hidden;
    border-bottom: solid 1px #006EB6;
}

.home-certifications .col--middle img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.home-certifications .title--middle img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.home-certifications .col--middle .parallax-img{
    height: 100%;
}

.parallax-img{
    position: relative;
    overflow: hidden;
}

.parallax-img .image{
    position: absolute;
    top: -8%;
    left: -8%;
    right: -8%;
    bottom: -8%;
    max-height: none;
}

.parallax-img .image img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    max-height: none;
    max-width: none;
    margin: 0;
    padding: 0;
}

.lg-show, .md-show, .sm-show{
    display: none !important;
}

.home-certifications .title{
    background: #fff;
}


.featured-goods{
    border-bottom: solid 1px #006EB6;
    display: grid;
    grid-template-columns: 120px auto;
    gap: 1px;
    padding-top: 70px;
    margin-top: calc(-1*70px);
} 

.featured-goods .col--left{
    position: relative;
    border-right: solid 1px #006EB6;
}

.featured-goods .title{
    background: #fff;
    height: 100%;
    width: 100%;
}

.featured-goods__sticky{
    height: 620px;
    position: relative;
}

.featured-goods .col--left h3{
    margin: 0;
    font-family: "Untitled", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #006EB6;
    left: 50%;
    top: 45px;
    font-size: 3rem;
    line-height: 3.9rem;
    letter-spacing: -.1px;
    transform: translate(-50%) rotate(-90deg) translate(-50%);
    position: absolute;
    white-space: nowrap;
}

.featured-products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 80px;
    padding: 70px;
    border-bottom: solid 1px #006EB6;
}

.featured-product-card{
    text-align: center;
    cursor: pointer;
}

.featured-product-card img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.featured-product-card .product-title{
    font-size: 26px;
    line-height: 33px;
    letter-spacing: .1px;
}

.sapce-10{
    display: block;
    height: 10px;
}

.featured-product-card .featured-product__meta{
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    letter-spacing: .1px;
}

.featured-product-card .featured-product__price{
    font-size: 16px;
    line-height: 27px;
    letter-spacing: .1px;
}

.featured-product-card .buy-buttons{
    max-width: 255px;
    margin: 20px auto auto;
}

.buy-buttons{
    background:#ebf3fa;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1px;
    border: solid 1px #ebf3fa;
    font-size: 1.2rem;
    line-height: 2.4rem;
    margin-top: 20px;
}

.buy-buttons a{
    background: #ffffff;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.button-slide-bg:before, .button-slide-bg--white:before {
    content: " ";
    position: absolute;
    top: 0;
    z-index: -1;
    height: 100%;
    background: #006EB6;
    width: 100%;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    left: 0;
}

.button-slide-bg, .button-slide-bg--white {
    position: relative;
    overflow: hidden!important;
    z-index: 5;
    display: inline-block;
    background-color: #fff!important;
}

.featured-bar{
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.space-30{
    display: block;
    height: 30px;
}

.squiggle-button {
    position: relative;
    display: inline-block;
    color: #006EB6;
    text-decoration: none;
    font-family: "Untitled";
    overflow: hidden;
    padding-bottom: 8px;
}

.squiggle-button {
    position: relative;
    display: inline-block;
    color: #006EB6;
    text-decoration: none;
    font-family: sans-serif;
    overflow: hidden;
    padding-bottom: 3px;
    font-size: 18px;
    line-height: 24px;
}

.quiz__form .klaviyo_submit_button, .squiggle-button:after {
    background-image: url(https://cdn.shopify.com/s/files/1/1530/0579/t/28/assets/squiggle.svg?v=1496649…);
}

.squiggle-button:after {
    content: " ";
    position: absolute;
    height: 100%;
    bottom: 0;
    left: -1000px;
    right: 0;
    background-repeat: repeat-x;
    background-position: bottom;
    width: auto;
    transform: translate(0);
    animation: squiggle 30s linear infinite;
    animation-play-state: paused;
}

.long-img{
    position: relative;
    height: auto;
    overflow: hidden;
}

.long-img__card{
    height: 100vh;
    padding: 70px;
    position: relative;
}

.long-img__inner{
    position: absolute;
    top: 70px;
    left: 70px;
    right: 70px;
    bottom: 150px;
    overflow: hidden;
}


.long-img__image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.long-game .coaster-button{
    position: absolute;
    top: -239px;
    right: 0px;
}

.text-switcher__mask, .text-switcher__word{
    line-height: 1em;
}
.text-switcher__mask{
    overflow: hidden;
    padding: 10px;
    margin: -10px;
    transform: translate(0) translateY(0) translateZ(0);
}

.text-switcher__loaded .text-switcher__item{
    opacity: 1;
    visibility: visible;
}

.long-game{
    position: relative;
    padding: 70px;
    padding-top: 0;
    border-bottom:solid 1px #006EB6 ;
}

.long-game h2{
    font-size: 4.8rem;
    line-height: 5rem;
}

.text-switcher__item{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.text-switcher{
    width: 100%;
}

.location-bar{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #006EB6;
    font-size: 2.5rem;
    line-height: 2.9rem;
    width: 100%;
    background: #ebf3fa;
    border-bottom: solid 1px #006EB6;
}

.location-bar .container .location-inner{
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: grid;
    grid-template-columns: auto 250px;
    gap: 100px;
}
.partner-highlight{
    position: relative;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 1;
    background: #006EB6;
    overflow: hidden;
    border-bottom: solid 1px #006EB6;
}
.partner-bird{
    position: absolute;
    bottom: 0px;
    left: -90px;
    z-index: 1;
    height: 190px;
    width: auto;
}

.partner-highlight .sided-left h2{
    z-index: 3;
}

.partner-highlight .sided-right{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 700px;
    z-index: 3;
}

.partner-highlight .sided-left{
    background: #ffffff;
    height: 100%;
    width: 100%;
    padding: 70px;
}

.partner-highlight .sided-left, .partner-highlight .sided-left h5{
    z-index: 3;
}

a.partner-link{
    position: relative;
    height: 100%;
    width: 100%;
    background: #ffffff;
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
    align-items: center;
}

a.partner-link .meta{
    position: relative;
    width: 100%;
}
.sided, .sided-left, .sided-right{
    position: relative;
}

.space-15{
    display: block;
    height: 15px;
}

.featured-articles{
    position: relative;
    padding: 70px;
    width: 100%;
}


.article-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.featured-articles .container .content a.button{
    position: absolute;
    bottom: 0;
    right: 0;
}

.end-footer{
    background: #ffffff;
    color: #ffffff;
    display: grid;
    grid-template-columns: 25vw 25vw 25vw 15vw 10vw;
    grid-column-gap: 1px ;
    grid-row-gap: 1px;
}

.footer-sides-1{
    grid-area: 1/1/2/3;
    width: 50vw;
    height: 285px;
    width: 100%;
}

.footer-area {
    background: #006EB6;
    height: 100%;
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.end-footer h5 {
    width: 80%;
}

.footer-newsletter__form {
    position: relative;
    width: 100%;
}

.footer-newsletter__input {
    width: 100%;
    background: #fff;
    border: none;
    font-size: 1.6rem;
    padding-left: 24px;
}

.footer-newsletter__submit {
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(./newsletter-arrow-right.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 24px;
    width: 70px;
    border: none;
}

.footer-sides-2 {
    grid-area: 1/3/2/4;
    width: 16.66vw;
    height: 322px;
    width: 100%;
}

a.link {
    display: inline-block;
    font-size: 1.4rem;
    line-height: 2.3rem;
    letter-spacing: .1px;
    color: #ffffff;
    width: auto;
    margin-bottom: 10px;
    position: relative;
}

a.link:before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background: #fff;
    transform: translateY(5px);
    opacity: 0;
}

.footer-sides-3 {
    grid-area: 2/1/3/2;
    height: 285px;
    width: 100%;
}

.footer-sides-4 {
    grid-area: 2/2/3/3;
    height: 285px;
    width: 100%;
}

.footer-sides-5 {
    grid-area: 2/3/3/4;
    height: 285px;
}

.footer-sides-6 {
    grid-area: 1/4/4/5;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background: #ffffff;
    gap: 1px;
}

.footer-sides-7 {
    grid-area: 1/5/4/6;
    padding: 30px 35%;
}

.footer-sides-8 {
    grid-area: 3/1/4/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 70px;
}

.footer-social-icon {
    background: #006EB6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.footer-social-icon .social-icon-link {
    height: 50px;
    width: 50px;
}


.footer-social-icon .social-icon-link img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

li{
    margin-bottom: 5px;
}

ol, ul{
    font-family: "Untitled";
    font-size: 16px;
    line-height: 26px;
    color: #006EB6;
}

ul{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
 div{
    position: relative;
    display: block;
 }


h1{
    margin: 0;
    color: #006EB6;
}

h2{
    font-size: 3rem;
    line-height: 4.8rem;
}

h3 {
    font-size: 2.9rem;
    line-height: 1.9rem;
}

h4 {
    font-size: 3.2rem;
    line-height: 4rem;
}

h5 {
    font-size: 2rem;
    line-height: 2.7rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin: 0;
    font-family: "Untitled";
}

p {
    font-family: "Untitled";
    font-size: 16px;
    line-height: 27px;
    color: #006EB6;
    margin-bottom: 20px;
}

img{

    max-width: 100%;
}

a{
    color: #006EB6;
    text-decoration: none;
}

*{
    font-family: inherit;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}
*, *:before *:after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a:visited, a:hover, a:active {
    color: #006EB6;
}

a, input, select, textarea, button {
    -webkit-appearance: none;
    border-radius: 0;
}


#nav{
    margin:10px;
    text-align:center;
    line-height:25px;
    width:200px;
}
.title{
    background:#336699;
    color:#fff;
    border-bottom:1px solid #fff;
    cursor:pointer;
}
.title1{
    background:#888;
    color:#000;
    border-bottom:1px solid #666;
    cursor:pointer;
}
.content li{
    color:#336699;
    background:#ddd;
    border-bottom:1px solid #fff;
}