element.style{
    transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0 -636, 0, 1 );
    opacity: 1;
    pointer-events: all;
    transform: matrix3d(0px, -100%, 0px);
}
section{
    pointer-events: auto;
    padding: 0;
}

#sus-sursor{
    font-size: 40px;
    font-family: var(--blue);
    color: #fff;
    letter-spacing: 1px;
}

.page-transition{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-transition__content{
    width: 100%;
    transform: translateZ(0);
}
.page-transition__text {
    font-size: 70px;
    letter-spacing: -.4px;
    line-height: 92px;
    height: 92px;
    vertical-align: middle;
    color: #fff;
    position: relative;
    text-align: center;
    font-family: var(--monday);
    font-weight: 400;
    width: 100%;
    transform: translateZ(0);
}
.page-transition__text>div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    transform: translateZ(0);
}


.custom-cursor{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    font-family: var(--blue);
    font-weight: 400!important;
}

.custom-cursor__inner{
    transform: translate(-50%,-150%);
    position: relative;
}

.two-col{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.home-hero__img {
    position: relative;
    height: 600px;
}

.home-hero__img {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.home-hero__img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
img {
    max-width: 100%;
}

.home-hero .col--100{
    height: calc(100vh - var(--nav-height) - var(--hero-bar-height));
}


.flex-cc{
    display: flex;
    align-items: center;
    justify-content: center;
}
.col, .col-left, .col-right{
    position: relative;
    width: 100%;
}

.home-hero__content {
    padding: 0 70px;
    width: 100%;
}

.home-hero__content h1{
    font-family: var(--monday);
    font-style: normal;
    font-weight: 600;
    font-size: 53px;
    line-height: 62px;
}


.home-hero__buttons {
    margin-top: 40px;
    font-size: 0;
}

.home-hero__buttons>.buttons:first-of-type{
    margin-right: -1px;
}
.home-hero__buttons>.buttons{
    margin: 0 0 20px;
    width: 230px;
    text-align: center;
    background: #fff;
    border-radius: 0;
    height: 63px;
    border: var(--blue-border);
}

a.button{
    text-decoration: none;
    -webkit-appearance: none;
}

.button--header{
    font-size: 18px;
    line-height: 23px;
    padding: 19px 34px;
}

.button{
    position: relative;
    display:line-block;
    color: var(--blue)!important;
    transform: all .3s ease;
}

.button-slide-bg{
    overflow: hidden!important;
    z-index: 5;
    background-color: #fff;
}

.feature-bar .no-border{
    border-top: none;
}

.feature-bar__line{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;   
    background: var(--blue);
}

.feature-bar>ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.feature-bar>ul>li .feature-bar>ul>li>a{
    font-size: 16px;
    line-height: 22px;
    color: var(--blue);
    text-decoration: none;
    user-select: none;
}
.feature-bar>ul>li{
    padding: 0 14px;
    margin: 0;
    position: relative;
}
li{
    text-align: -webkit-match-parent;
}

ol, ul{
    font-family: var(--body);
    font-size: 16px;
    line-height: 26px;
    color: var(--blue);
}

ul{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
 div{
    position: relative;
 }


h1{
    margin: 0;
    color: rgb(0, 123, 255);
}
p{
    color: rgb(0, 136, 255);
}




*{
    font-family: inherit;
    -webkit-font-smoothing: antialiased;
}
*, *:before *:after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}