:root {
    font-size: 62.5%;
    --nav-height: 70px;
    --device-nav-height: 63px;
    --nav-switch: 1080px;
    --phone-product-padding: 167px;
    --bg-color: white;
    --blue: #006EB6;
    --mid-blue: #B2D3E9;
    --light-blue: #EBF3FA;
    --light-blue-2: #80B7DB;
    --lightest-blue: #F5F9FC;
    --blue-2: #1C6EA5;
    --compost-blue: #F7FAFE;
    --black: #000000;
    --white: #ffffff;
    --red: #D93D20;
    --yellow: #FFC709;
    --space-150: 150px;
    --space-120: 120px;
    --space-100: 100px;
    --sapce-90: 90px;
    --space-80: 80px;
    --space-70: 70px;
    --space-60: 60px;
    --space-50: 50px;
    --space-40: 40px;
    --space-30: 30px;
    --space-25: 25px;
    --space-20: 20px;
    --space-17: 17px;
    --space-10: 10px;
    --monday: "Monday";
    --body: "Untitled";
    --container-pl: 30px;
    --container-pr: 30px;
    --xl-h1-fs-monday: 5.3rem;
    --xl-h1-lh-monday: 6.2rem;
    --xl-h1-fs: 7rem;
    --xl-h1-lh: 7.8rem;
    --xl-h2-fs: 5rem;
    --xl-h2-lh: 5.8rem;
    --xl-h3-fs: 4rem;
    --xl-h3-lh: 4.9rem;
    --xl-h4-fs: 3.2rem;
    --xl-h4-lh: 4rem;
    --xl-h5-fs: 2.2rem;
    --xl-h5-lh: 3.2rem;
    --xl-h6-fs: 2rem;
    --xl-h6-lh: 3rem;
    --xl-p-large-fs: 2.2rem;
    --xl-p-large-lh: 3.2rem;
    --xl-body-fs: 1.6rem;
    --xl-body-lh: 2.5rem;
    --sm-h1-fs-monday: 3.4rem;
    --sm-h1-lh-monday: 4.1rem;
    --sm-h1-fs: 4rem;
    --sm-h1-lh: 4.6rem;
    --sm-h2-fs: 3.3rem;
    --sm-h2-lh: 4rem;
    --sm-h3-fs: 3.3rem;
    --sm-h3-lh: 4rem;
    --sm-h4-fs: 2.4rem;
    --sm-h4-lh: 3.2rem;
    --sm-h5-fs: 2rem;
    --sm-h5-lh: 2.7rem;
    --sm-p-large-fs: 1.8rem;
    --sm-p-large-lh: 2.6rem;
    --sm-body-fs: 1.8rem;
    --sm-body-lh: 2.5rem;
    --white-border: solid 1px var(--white);
    --blue-border: solid 1px var(--blue);
    --mid-blue-border: solid 1px var(--mid-blue);
    --light-blue-border: solid 1px var(--light-blue);
    --lightest-blue-border: solid 1px var(--lightest-blue);
    --input-height: 57px;
    --input-width: 100%;
    --form-width: 600px;
    --max-content-width: 1200px;
    --xl-side-bar: 120px;
    --sm-side-bar: 66px;
    --hero-bar-height: 49px;
    --cart-wrapper-bg-color: rgba(235, 243, 250, .9);
    --cart-draw-bg-color: white;
    --cart-meta-color: var(--blue);
    --quantity-border-color: solid 1px var(--mid-blue);
    --quantity-border-radius-top-left: 0px;
    --quantity-border-radius-top-right: 0px;
    --quantity-border-radius-bottom-left: 0px;
    --quantity-border-radius-bottom-right: 0px;
    --remove-cart-item-color: var(--blue);
    --cart-item-border-bottom: none;
    --cart-item-price-color: var(--blue);
    --cart-hr-color: var(--blue);
    --checkout-button-color: var(--blue);
    --checkout-button-title-color: white;
    --checkout-button-border-radius: 0px;
    --recommended-item-bg-color: var(--light-blue);
    --sm-padding-top: 30px;
    --sm-padding-bottom: 30px;
    --md-con-padding: 100px;
    --sm-con-pad-top: 60px;
    --sm-con-pad-bottom: 60px;
    --sm-con-pad-left: 30px;
    --sm-con-pad-right: 30px;
    --tablet: 960px;
    --mobile: 768px;
    --mobile-sm: 479px;
}


element.style{
    transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0 -636, 0, 1 );
    opacity: 1;
    pointer-events: all;
    transform: matrix3d(0px, -100%, 0px);
}
section{
    pointer-events: auto;
    padding: 0;
}

#sus-sursor{
    font-size: 40px;
    font-family: var(--blue);
    color: #fff;
    letter-spacing: 1px;
}

.page-transition{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-transition__content{
    width: 100%;
    transform: translateZ(0);
}
.page-transition__text {
    font-size: 70px;
    letter-spacing: -.4px;
    line-height: 92px;
    height: 92px;
    vertical-align: middle;
    color: #fff;
    position: relative;
    text-align: center;
    font-family: var(--monday);
    font-weight: 400;
    width: 100%;
    transform: translateZ(0);
}
.page-transition__text>div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    transform: translateZ(0);
}


.custom-cursor{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    font-family: var(--blue);
    font-weight: 400!important;
}

.custom-cursor__inner{
    transform: translate(-50%,-150%);
    position: relative;
}

#page-content {
    overflow-x: hidden;
}

.cart-wrapper {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transition: none!important;
    opacity: 0;
    visibility: hidden;
    background: var(--cart-wrapper-bg-color)!important;
    z-index: 1000000;
}

.cart-wrapper .cart-inner {
    position: relative;
    height: 100%;
    width: 100%;
}

.cart-wrapper .cart-drawer {
    width: 100vw;
    grid-template-columns: 1fr;
    max-width: 60%;
}

.cart-wrapper .cart-drawer {
    position: absolute;
    top: 0;
    right: 0;
    width: 70vw;
    height: 100%;
    background: gray;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 600px;
    grid-template-columns: 1fr;
    background: var(--cart-draw-bg-color)!important;
    gap: 0;
}

.cart-wrapper .cart-drawer .your-cart {
    position: relative;
    padding: 0;
    background: var(--bg-color);
}

.cart-wrapper .modal__top-button {
    top: 25px;
    right: 30px;
}

.modal__top-button {
    position: absolute;
    top: 40px;
    right: 36px;
    width: 47px;
    height: 80px;
    cursor: pointer;
    z-index: 999;
}

.modal__close-button, .modal__back-button {
    position: absolute;
    top: 0;
    left: 0;
}

.modal__close {
    position: relative;
    height: 41px;
    width: 41px;
    margin: auto;
    transition: all .3s ease;
}

.modal__close>.l1 {
    transform: rotate(-45deg);
}

.modal__close>.l2 {
    display: none;
}

.modal__close>.l3 {
    transform: rotate(45deg);
}

.modal__button-label {
    font-size: 18px;
    line-height: 26px;
    display: block;
    margin-top: 7px;
    text-align: center;
}

.modal__close>span {
    width: 58px;
    height: 1px;
    background-color: var(--blue);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -28px;
    margin-top: -0.5px;
    transition: all .5s ease;
}

.cart-header {
    position: absolute;
    top: 0;
    background: none;
    height: 120px;
    width: 100%;
    background: var(--cart-draw-bg-color);
    z-index: 2;
}

.cart-header h4 {
    padding: 40px 30px;
    width: auto;
}


.cart-header hr {
    border: none;
    background: var(--cart-hr-color);
    height: 1px;
    width: 100%;
}

.cart-main {
    margin-top: 130px;
    position: relative;
    overflow-y: auto;
    height: 80vh;
    padding-bottom: 60vh;
}

.cart-main .no-products {
    margin: 30px;
    font-family: var(--title-font);
    font-size: 20px;
}

.cart-main .cart-products {
    margin: 0 30px;
}

.desktop-recommended {
    margin-top: 40px;
}

.desktop-recommended .recommended-items-header {
    bottom: auto;
}

.recommended-items-header {
    position: relative;
    margin-left: 30px;
    margin-right: 30px;
    background: var(--light-blue);
    height: 60px;
    bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1.8rem;
    padding-top: 20px;
}

.recommended-items-header hr {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border: none;
    width: auto;
    height: 1px;
    background: var(--mid-blue);
    margin-left: 30px;
    margin-right: 30px;
}

.desktop-recommended .recommended-product {
    bottom: auto;
}

.recommended-product {
    background: var(--recommended-item-bg-color);
    bottom: 60px;
    margin-left: 30px;
    margin-right: 30px;
}

.recommended-product .container {
    position: relative;
    height: 180px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.container {
    max-width: var(--max-content-width);
    padding-left: var(--container-pl);
    padding-right: var(--container-pr);
    margin: 0 auto;
}

.recommended-product img {
    position: relative;
    top: 0;
    left: 0;
    height: 120px;
    min-width: 60px;
    flex-shrink: 0;
    object-fit: cover;
}

.recommended-product__meta {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 20px;
    height: 100%;
    align-items: flex-start;
}

.recommended-product__price {
    margin-top: 5px;
    font-size: 1.6rem;
}

.recommended-product__meta__button {
    margin-top: 14px;
    padding: 10px 5px;
    font-size: 1.5rem;
    border: solid 1px var(--blue);
    background: transparent;
    color: var(--blue);
    display: inline-block;
    width: 110px;
    cursor: pointer;
}

a, input, select, textarea, button {
    -webkit-appearance: none;
    border-radius: 0;
}

.mobile-recommended {
    display: none;
}



.two-col{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.home-hero__img {
    position: relative;
    height: 600px;
}

.home-hero__img {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.home-hero__img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
img {
    max-width: 100%;
}

.home-hero .col--100vh{
    height: calc(100vh - var(--nav-height) - var(--hero-bar-height));
}


.flex-cc{
    display: flex;
    align-items: center;
    justify-content: center;
}
.col, .col-left, .col-right{
    position: relative;
    width: 100%;
}

.home-hero__content {
    padding: 0 70px;
    width: 100%;
}

.home-hero__content h1{
    font-family: var(--monday);
    font-style: normal;
    font-weight: 600;
    font-size: 53px;
    line-height: 62px;
}


.home-hero__buttons {
    margin-top: 40px;
    font-size: 0;
}

.home-hero__buttons>.buttons:first-of-type{
    margin-right: -1px;
}
.home-hero__buttons>.buttons{
    margin: 0 0 20px;
    width: 230px;
    text-align: center;
    background: #fff;
    border-radius: 0;
    height: 63px;
    border: var(--blue-border);
}

a.button{
    text-decoration: none;
    -webkit-appearance: none;
}

.button--header{
    font-size: 18px;
    line-height: 23px;
    padding: 19px 34px;
}

.button{
    position: relative;
    display:line-block;
    color: var(--blue)!important;
    transform: all .3s ease;
}

.button-slide-bg{
    overflow: hidden!important;
    z-index: 5;
    background-color: #fff;
}

.feature-bar .no-border{
    border-top: none;
    border-top-width: initial;
    border-top-style: none;
    border-top-color: initial;
}

.feature-bar{
    position: relative;
    width: 100%;
    border-bottom: solid 1px var(--blue);
    border-bottom-width: initial;
    border-bottom-style: none;
    border-bottom-color:initial;
    padding: 12px;
    min-height: 50px;
}

.feature-bar__line{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;   
    background: var(--blue);
}

.feature-bar>ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.feature-bar>ul>li .feature-bar>ul>li>a{
    font-size: 16px;
    line-height: 22px;
    color: var(--blue);
    text-decoration: none;
    user-select: none;
}
.feature-bar>ul>li{
    padding: 0 14px;
    margin: 0;
    position: relative;
}
li{
    text-align: -webkit-match-parent;
}

ol, ul{
    font-family: var(--body);
    font-size: 16px;
    line-height: 26px;
    color: var(--blue);
}

ul{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
 div{
    position: relative;
 }


h1{
    margin: 0;
    color: rgb(0, 123, 255);
}

h4 {
    font-size: var(--xl-h4-fs);
    line-height: var(--xl-h4-lh);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin: 0;
    font-family: var(--body);
}

p{
    color: rgb(0, 136, 255);
}




*{
    font-family: inherit;
    -webkit-font-smoothing: antialiased;
}
*, *:before *:after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}